@import "../../app.scss";
@import "../productdetails/productdetail.scss";
.cart-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 150px !important;
  }
  .cart-container-wrapper {
    padding: 20px;
    h1,
    h3 {
      padding: 10px;
    }
    hr {
      margin: 10px;
    }
    .style {
      display: none !important;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .cart-card {
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 10px;
      @include tablet {
        flex-direction: column;
        align-items: center;
      }
      a {
        @include tablet {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .quantity {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        @include tablet {
          flex-direction: row;
        }
        .btn {
          padding: 10px;
          svg {
            font-size: 20px;
          }
        }
        span {
          font-size: 20px;
          font-weight: bold;
          color: $header-background;
        }
      }
    }
  }
  .subtotal {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @include tablet {
      min-width: 400px;
    }
    @include mobile {
      min-width: 100%;
    }
    .subtotal-wrapper,
    span {
      display: flex;
      gap: 10px;
    }
    a {
      width: 100%;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      background-color: $search-background;
      color: $header-background;
      &:hover {
        cursor: pointer;
        background-color: #fa940e;
      }
    }
  }
}
