@import "../../app.scss";
.product-card {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 30px;
  @include tablet {
    flex-direction: column;
  }
  img {
    object-fit: contain;
    max-height: 300px;
    @include tablet {
      max-height: 200px;
      width: 100%;
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include tablet {
      align-items: center;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: $header-background;
      margin: 10px 0;
    }
    .rating-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .price {
      font-size: 20px;
      font-weight: 500;
      color: $header-background;
    }
    .style {
      padding: 10px;
      border: none;
      width: 40%;
      margin: 10px 0;
      border-radius: 30px;
      background-color: $search-background;
      color: $header-background;
      &:hover {
        cursor: pointer;
        background-color: #fa940e;
      }
    }
  }
}
