@import "../../app.scss";
.orders_section {
  background-color: rgb(214, 222, 222);
  padding: 20px;
  .orders_container {
    background-color: #fff;
    padding: 20px;
    @include tablet {
      text-align: center;
    }
    .heading {
      padding: 20px;
      border-bottom: 1px solid $search-background;
    }
    .orders {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .order_id_container {
        display: flex;
        gap: 10px;
        @include tablet {
          flex-direction: column;
          width: 100% !important;
          align-items: flex-start;
        }
        .order_id {
          @include tablet {
            font-size: smaller;
            width: auto !important;
            text-align: start;
          }
          @include mobile {
            font-size: xx-small;
            line-height: 20px;
          }
        }
      }
      .order {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        height: auto;
        img {
          width: 100px !important;
        }
        button {
          display: none !important;
        }
      }
    }
  }
}
